<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>


<div id="example-1">
    <button v-on:click="counter+=1">Add 1</button>
    <p>위 버튼 클릭 횟수는 {{counter}} 번</p>
</div>

<div id="example-2">
    <!-- `greet`는 메소드 이름으로 아래에 정의되어 있습니다 -->
    <button v-on:click="greet">Greet</button>
    <button v-on:click="warn('Form cannot be submitted yet.', $event)">
        Submit
    </button>
</div>

<div id='example-3'>
    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>체크한 이름: {{ checkedNames }}</span>
</div>

<script>
    var example1 = new Vue({
        el:'#example-1',
        data:{
            counter:0
        }
    })

    var example2 = new Vue({
        el:'#example-2',
        data:{
            name:'yaewon'
        },
        methods:{
            greet: (event)=>{
                alert('Hello! '+this.name)
                if(event){
                    alert(event.target.tagName)
                }
            },
            warn:(message, event)=>{
                if(event) event.preventDefault()
                alert(message)
            }
        }
    })

    var example3 = new Vue({
        el:'#example-3',
        data:{
            checkedNames: []
        }
    })
</script>